/bin/*
/lib/*
/include/*
/app/config/*
/bot/config/*
/bot/__pycache__/*
/configurator/*.json
/bot/*.pyc
/db/*.db
/db/json_logs/*
/db/__pycache__/*
/netmonitor/config/*
/netmonitor/__pycache__/*
/config/json/*
/.vscode/
/config/__pycache__/*